Repository ashifali-ship-it/azdevops-vote-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-result.yml, azure-pipelines-vote.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-result.yml: any of: result
  azure-pipelines-vote.yml: any of: worker
  azure-pipelines.yml: any of: vote

Delete voting-app.zip
  voting-app.zip
Due: none

Rename az-gitops arch-2.PNG to az-gitops project architecture.PNG
  az-gitops project architecture.PNG
Due: none

Add files via upload
  updateK8sManifests.sh
Due: none

Create sample
  scripts/sample
Due: none

Rename updateK8sManifests.sh to scripts/updateK8sManifests.sh
  scripts/updateK8sManifests.sh
Due: none

Add files via upload
  db-deployment.yaml
  db-service.yaml
  redis-deployment.yaml
  redis-service.yaml
  result-deployment.yaml
  result-service.yaml
  vote-deployment.yaml
  vote-service.yaml
  worker-deployment.yaml
Due: none

Rename redis-deployment.yaml to k8s-specifications/redis-deployment.yaml
  k8s-specifications/redis-deployment.yaml
Due: none

Rename redis-service.yaml to k8s-specifications/redis-service.yaml
  k8s-specifications/redis-service.yaml
Due: none

Rename worker-deployment.yaml to k8s-specifications/worker-deployment.yaml
  k8s-specifications/worker-deployment.yaml
Due: none

Rename vote-service.yaml to k8s-specifications/vote-service.yaml
  k8s-specifications/vote-service.yaml
Due: none

Rename vote-deployment.yaml to k8s-specifications/vote-deployment.yaml
  k8s-specifications/vote-deployment.yaml
Due: none

Rename result-service.yaml to k8s-specifications/result-service.yaml
  k8s-specifications/result-service.yaml
Due: none

Rename result-deployment.yaml to k8s-specifications/result-deployment.yaml
  k8s-specifications/result-deployment.yaml
Due: none

Rename db-deployment.yaml to k8s-specifications/db-deployment.yaml
  k8s-specifications/db-deployment.yaml
Due: none

Rename db-service.yaml to k8s-specifications/db-service.yaml
  k8s-specifications/db-service.yaml
Due: none

Add files via upload
  Dockerfile
  Program.cs
  Worker.csproj
Due: none

Update README.md
  README.md
Due: none

Rename Dockerfile to worker/Dockerfile
  worker/Dockerfile
Due: azure-pipelines-vote.yml

Rename Program.cs to worker/Program.cs
  worker/Program.cs
Due: azure-pipelines-vote.yml

Rename Worker.csproj to worker/Worker.csproj
  worker/Worker.csproj
Due: azure-pipelines-vote.yml

Add files via upload
  Dockerfile
  generate-votes.sh
  make-data.py
Due: none

Rename Dockerfile to seed-data/Dockerfile
  seed-data/Dockerfile
Due: none

Rename generate-votes.sh to seed-data/generate-votes.sh
  seed-data/generate-votes.sh
Due: none

Rename make-data.py to seed-data/make-data.py
  seed-data/make-data.py
Due: none

Add files via upload
  Dockerfile
  app.py
  index.html
  requirements.txt
  style.css
Due: none

Rename Dockerfile to vote/Dockerfile
  vote/Dockerfile
Due: azure-pipelines.yml

Rename requirements.txt to vote/requirements.txt
  vote/requirements.txt
Due: azure-pipelines.yml

Rename app.py to vote/app.py
  vote/app.py
Due: azure-pipelines.yml

Rename style.css to vote/static/stylesheets/style.css
  vote/static/stylesheets/style.css
Due: azure-pipelines.yml

Rename index.html to templates/index.html
  templates/index.html
Due: none

Add files via upload
  .dockerignore
  Dockerfile
  angular.min.js
  app.js
  docker-compose.test.yml
  index.html
  package-lock.json
  package.json
  render.js
  server.js
  socket.io.js
  style.css
  tests.sh
Due: none

Rename Dockerfile to result/Dockerfile
  result/Dockerfile
Due: azure-pipelines-result.yml

Rename package-lock.json to result/package-lock.json
  result/package-lock.json
Due: azure-pipelines-result.yml
