Repository ashifali-ship-it/azdevops-vote-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-result.yml, azure-pipelines-vote.yml, azure-pipelines.yml

azure-pipelines-result.yml:
  pool:
    name: azurevm
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build the Image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

azure-pipelines-vote.yml:
  pool:
    name: azurevm
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build the Image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

azure-pipelines.yml:
  pool:
    name: azurevm
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build the Image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

Rename package.json to result/package.json
  result/package.json
Due: azure-pipelines-result.yml

Rename .dockerignore to result/.dockerignore
  result/.dockerignore
Due: azure-pipelines-result.yml

Rename server.js to result/server.js
  result/server.js
Due: azure-pipelines-result.yml

Rename docker-compose.test.yml to result/docker-compose.test.yml
  result/docker-compose.test.yml
Due: azure-pipelines-result.yml

Rename result/Dockerfile to result/tests/Dockerfile
  result/tests/Dockerfile
Due: azure-pipelines-result.yml

Rename render.js to tests/render.js
  tests/render.js
Due: none

Rename tests.sh to result/tests/tests.sh
  result/tests/tests.sh
Due: azure-pipelines-result.yml

Rename templates/index.html to templates/vote/index.html
  templates/vote/index.html
Due: none

Rename index.html to index.html
  vote/templates/index.html
Due: azure-pipelines.yml

Rename vote/static/stylesheets/style.css to vote/static/style.css
  vote/static/style.css
Due: azure-pipelines.yml

Rename vote/static/style.css to vote/static/stylesheets/style.css
  vote/static/stylesheets/style.css
Due: azure-pipelines.yml

Rename index.html to result/views/index.html
  result/views/index.html
Due: azure-pipelines-result.yml

Rename socket.io.js to result/views/socket.io.js
  result/views/socket.io.js
Due: azure-pipelines-result.yml

Rename angular.min.js to result/views/angular.min.js
  result/views/angular.min.js
Due: azure-pipelines-result.yml

Rename app.js to result/views/app.js
  result/views/app.js
Due: azure-pipelines-result.yml

Rename style.css to result/styelsheets/style.css
  result/styelsheets/style.css
Due: azure-pipelines-result.yml

Rename result/styelsheets/style.css to result/views/stylesheets/style.css
  result/views/stylesheets/style.css
Due: azure-pipelines-result.yml

Add files via upload
  result/Dockerfile
Due: azure-pipelines-result.yml

Add files via upload
  result/tests/render.js
Due: azure-pipelines-result.yml

Update README.md
  README.md
Due: none

Add files via upload
  postgres.sh
Due: none

Rename postgres.sh to healthchecks/postgres.sh
  healthchecks/postgres.sh
Due: none

Add files via upload
  healthchecks/redis.sh
Due: none

Update MAINTAINERS
  MAINTAINERS
Due: none

Delete MAINTAINERS
  MAINTAINERS
Due: none

Delete scripts/sample
  scripts/sample
Due: none

Path conditions:
  azure-pipelines-result.yml: any of: result
  azure-pipelines-vote.yml: any of: worker
  azure-pipelines.yml: any of: vote
